@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900');

$fills: ('black': rgb(0, 0, 0),
        'red': rgb(128, 0, 0),
        'green': rgb(0, 128, 0),
        'blue': rgb(0, 0, 128),
        'dark-red': rgb(64, 0, 0),
        'dark-green': rgb(0, 64, 0),
        'dark-blue': rgb(0, 0, 64),
        'cyan': rgb(0, 128, 128),
        'magenta': rgb(128, 0, 128),
        'yellow': rgb(128, 128, 0),
        'grey': rgb(128, 128, 128),
        'white': rgb(255, 255, 255));

.text {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  alignment-baseline: middle;
}

.text-center {
  text-anchor: start;
}

.text-center {
  text-anchor: middle;
}

.text-right {
  text-anchor: end;
}

.text-bold {
  font-weight: bold;
}

.blink-animation {
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

.fade-animation {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fade-out-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation-name: fade-out-animation;
  @extend .fade-animation;
}

.fade-in {
  animation-name: fade-in-animation;
  @extend .fade-animation;
}

.hide {
  opacity: 0;
}

@each $name, $color in $fills {

  @each $name2, $color2 in $fills {

    @keyframes #{$name}-blink-#{$name2} {
      0% {
        fill: #{$color};
      }
      100% {
        fill: #{$color2};
      }
    }

    .status-#{$name}-to-#{$name2} {
      animation-name: #{$name}-blink-#{$name2};
      @extend .blink-animation;
      @extend .#{$name}-bg;
    }
  }

  .status-#{$name} {
    animation-name: #{$name}-blink-black;
    @extend .blink-animation;
    @extend .#{$name}-bg;
  }

  .#{$name}-bg {
    fill: #{$color};
    opacity: 0.7;
  }

  .#{$name}-text {
    fill: #{$color};
    @extend .text;
  }
}
