<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Admin - {{ overlay_name }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js" crossorigin="anonymous"></script>
    <script src="/assets/js/all.js"></script>
    <script src="/assets/js/form.js"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <form class="form-inline" id="form" action="#">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Text</th>
                    <th scope="col">Background</th>
                    <th scope="col">Display</th>
                    <th scope="col">Submit</th>
                </tr>
                </thead>
                <tbody>
                {% for item in overlay_info %}
                    <tr>
                        <td class="align-middle">
                            {{ item }}
                        </td>
                        <td class="align-middle">
                            {% if 'text' in overlay_info[item] %}
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="{{ overlay_name }}-{{ item }}-text-form" class="sr-only">{{ item }} -
                                        Text</label>
                                    <input type="text" class="form-control" id="{{ overlay_name }}-{{ item }}-text-form"
                                           value="{{ overlay_info[item]['text'] }}">
                                </div>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if 'bg' in overlay_info[item] %}
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="{{ overlay_name }}-{{ item }}-bg-form" class="sr-only">{{ item }} -
                                        Background</label>
                                    <select class="form-control" id="{{ overlay_name }}-{{ item }}-bg-form">
                                        {% for color in colors %}
                                            {% if color == overlay_info[item]['bg'] %}
                                                <option selected>{{ color }}</option>
                                            {% else %}
                                                <option>{{ color }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if 'display' in overlay_info[item] %}
                                <div class="custom-control custom-checkbox mx-sm-3 mb-2">
                                    {% if 'show' in overlay_info[item]['display'] %}
                                        <input type="checkbox" class="custom-control-input"
                                               id="{{ overlay_name }}-{{ item }}-display-form"
                                               checked>
                                    {% else %}
                                        <input type="checkbox" class="custom-control-input"
                                               id="{{ overlay_name }}-{{ item }}-display-form">
                                    {% endif %}
                                    <label class="custom-control-label"
                                           for="{{ overlay_name }}-{{ item }}-display-form">Show</label>
                                </div>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-primary mx-sm-3 mb-2"
                                    onclick="update('{{ overlay_name }}', '{{ item }}')">Update
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>
