<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics (v4) - {{ overlay_name }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/assets/css/all.css">

    <script defer src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" crossorigin="anonymous"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"
            crossorigin="anonymous"></script>
    <script defer src="/assets/js/all.js"></script>
    <script defer src="/assets/js/overlay.js"></script>
</head>
<body>
<div id="{{ overlay_name }}" class="overlay">
    {% for item in overlay %}
        <div id="{{ overlay_name }}-{{ item }}" class="{{ overlay_classes[item] }}">
            {%- if 'text' in overlay[item] %}
                {{ overlay[item]['text'] }}
            {%- endif %}
        </div>
    {% endfor %}
</div>
</body>
</html>
